*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  min-width: 1200px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center top;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

/* Header */
.main-header {
  width: 1200px;

  margin: 0 auto;
  padding: 0 26px 0 27px;
}

.main-navigation {
  display: flex;
}

.main-header-logo {
  margin-top: 9px;
  margin-right: 22px;

  align-self: flex-end;
}

.site-navigation,
.subnavigation,
.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.site-navigation,
.user-navigation {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 29px;
}

.nav-item a {
  font-size: 16px;
  font-weight: 700;

  color: #fff;
}

.nav-label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.user-navigation li:not(:first-child) {
  margin-left: 10px;
}

.user-nav-button {
  display: flex;
  align-items: center;

  padding: 8px 23px;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  color: #fff;

  background-color: rgba(255, 255, 255, 0.2);
}

.login-button {
  padding: 8px 25px;
}